[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "nero_gitlab"
verify_ssl = false
url = "https://__token__:kZG7esv72n325czD7Wdg@gitlab.neroelectronics.by/api/v4/projects/996/packages/pypi/simple"

[packages]
flask-mail = "==0.9.1"
unipipeline = "==1.5.5"
jsonschema = "==3.2.0"
db-utils = {version = "==1.6.7", index = "nero_gitlab"}
api-utils = {version = "==1.6.23", index = "nero_gitlab"}
ul_py_tool = {version = "==1.2.0", index = "nero_gitlab"}

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
lint = "ulpytool lint --py-files src/**/*.py notification_sdk/**/*.py --py-files-ignore src/notification__db/migrations/**/*.py"
test = "ulpytool test"