<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% if active == 'list_logs' %}active{% endif %}" href="{{ url_for('view_list_logs') }}">
              <i class="bi bi-grid-3x3-gap"></i>
              Logs
            </a>
          </li>
          <li class="nav-item">
                <a class="nav-link {% if active == 'templates' %}active{% endif %}" href="{{ url_for('view_list_template') }}">
                    <i class="bi bi-grid-3x3-gap"></i>
                    Templates
                </a>
            </li>
          <li class="nav-item">
                <a class="nav-link {% if active == 'send_message' %}active{% endif %}" href="{{ url_for('view_send_message') }}">
                    <i class="bi bi-grid-3x3-gap"></i>
                    Send message
                </a>
            </li>
        </ul>
    </div>
</nav>
